* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 207, 210);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
  }
  
  .container .tenor-gif-embed {
    max-width: 90%;
    max-height: 500px; 
  }
  
  .container .btn {
    display: flex;
    gap: 25px;
  }
  
  .btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  }
  .btn a {
    /* styles for the button */
    background-color: #fff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer; /* change the cursor shape to a pointer */
  }
  
  .btn a:hover {
    /* hover effect styles */
    background-color: #ccc; /* change the background color on hover */
    color: #d52020; /* change the text color on hover */
    box-shadow: 0 0 10px rgba(182, 83, 83, 0.2); /* add a subtle shadow on hover */
  }